{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.wisdom#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>You do not have sufficient access to perform this action.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.wisdom#AppIntegrationsConfiguration": {
            "type": "structure",
            "members": {
                "appIntegrationArn": {
                    "target": "com.amazonaws.wisdom#GenericArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the AppIntegrations DataIntegration to use for ingesting content.</p>\n         <ul>\n            <li>\n               <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n          objectFields is not provided, including at least <code>Id</code>,\n            <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>,\n            <code>PublishStatus</code>, and <code>IsDeleted</code> as source fields. </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n          objectFields is not provided, including at least <code>number</code>,\n            <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>,\n          and <code>active</code> as source fields. </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://developer.zendesk.com/api-reference/help_center/help-center-api/articles/\">\n            Zendesk</a>, your AppIntegrations DataIntegration must have an ObjectConfiguration if\n            <code>objectFields</code> is not provided, including at least <code>id</code>,\n            <code>title</code>, <code>updated_at</code>, and <code>draft</code> as source fields.\n        </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://learn.microsoft.com/en-us/sharepoint/dev/sp-add-ins/sharepoint-net-server-csom-jsom-and-rest-api-index\">SharePoint</a>, your AppIntegrations DataIntegration must have a FileConfiguration,\n          including only file extensions that are among <code>docx</code>, <code>pdf</code>,\n            <code>html</code>, <code>htm</code>, and <code>txt</code>. </p>\n            </li>\n            <li>\n               <p> For <a href=\"https://aws.amazon.com/s3/\">Amazon S3</a>, the\n            ObjectConfiguration and FileConfiguration of your AppIntegrations\n          DataIntegration must be null. The <code>SourceURI</code> of your\n            DataIntegration must use the following format:\n            <code>s3://your_s3_bucket_name</code>.</p>\n               <important>\n                  <p>The bucket policy of the corresponding S3 bucket must allow the Amazon Web Services\n            principal <code>app-integrations.amazonaws.com</code> to perform\n              <code>s3:ListBucket</code>, <code>s3:GetObject</code>, and <code>s3:GetBucketLocation</code>\n            against the bucket.</p>\n               </important>\n            </li>\n         </ul>",
                        "smithy.api#required": {}
                    }
                },
                "objectFields": {
                    "target": "com.amazonaws.wisdom#ObjectFieldsList",
                    "traits": {
                        "smithy.api#documentation": "<p>The fields from the source that are made available to your agents in Wisdom. Optional if\n      ObjectConfiguration is included in the provided DataIntegration. </p>\n         <ul>\n            <li>\n               <p> For <a href=\"https://developer.salesforce.com/docs/atlas.en-us.knowledge_dev.meta/knowledge_dev/sforce_api_objects_knowledge__kav.htm\"> Salesforce</a>, you must include at least <code>Id</code>,\n            <code>ArticleNumber</code>, <code>VersionNumber</code>, <code>Title</code>,\n            <code>PublishStatus</code>, and <code>IsDeleted</code>. </p>\n            </li>\n            <li>\n               <p>For <a href=\"https://developer.servicenow.com/dev.do#!/reference/api/rome/rest/knowledge-management-api\"> ServiceNow</a>, you must include at least <code>number</code>,\n            <code>short_description</code>, <code>sys_mod_count</code>, <code>workflow_state</code>,\n          and <code>active</code>. </p>\n            </li>\n            <li>\n               <p>For <a href=\"https://developer.zendesk.com/api-reference/help_center/help-center-api/articles/\">\n            Zendesk</a>, you must include at least <code>id</code>, <code>title</code>,\n            <code>updated_at</code>, and <code>draft</code>. </p>\n            </li>\n         </ul>\n         <p>Make sure to include additional fields. These fields are indexed and used to source\n      recommendations. </p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Configuration information for Amazon AppIntegrations to automatically ingest content.</p>"
            }
        },
        "com.amazonaws.wisdom#Arn": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^arn:[a-z-]*?:wisdom:[a-z0-9-]*?:[0-9]{12}:[a-z-]*?/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}(?:/[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12})?$"
            }
        },
        "com.amazonaws.wisdom#Assistant": {
            "type": "resource",
            "identifiers": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.wisdom#CreateAssistant"
            },
            "read": {
                "target": "com.amazonaws.wisdom#GetAssistant"
            },
            "delete": {
                "target": "com.amazonaws.wisdom#DeleteAssistant"
            },
            "list": {
                "target": "com.amazonaws.wisdom#ListAssistants"
            },
            "operations": [
                {
                    "target": "com.amazonaws.wisdom#GetRecommendations"
                },
                {
                    "target": "com.amazonaws.wisdom#NotifyRecommendationsReceived"
                },
                {
                    "target": "com.amazonaws.wisdom#QueryAssistant"
                },
                {
                    "target": "com.amazonaws.wisdom#SearchSessions"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.wisdom#AssistantAssociation"
                },
                {
                    "target": "com.amazonaws.wisdom#Session"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "assistant/{assistantId}"
                },
                "aws.cloudformation#cfnResource": {},
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.wisdom#AssistantAssociation": {
            "type": "resource",
            "identifiers": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                },
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.wisdom#CreateAssistantAssociation"
            },
            "read": {
                "target": "com.amazonaws.wisdom#GetAssistantAssociation"
            },
            "delete": {
                "target": "com.amazonaws.wisdom#DeleteAssistantAssociation"
            },
            "list": {
                "target": "com.amazonaws.wisdom#ListAssistantAssociations"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "association/{assistantId}/{assistantAssociationId}"
                },
                "aws.cloudformation#cfnResource": {},
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationData": {
            "type": "structure",
            "members": {
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the assistant association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantAssociationArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assistant association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associationType": {
                    "target": "com.amazonaws.wisdom#AssociationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associationData": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationOutputData",
                    "traits": {
                        "smithy.api#documentation": "<p>A union type that currently has a single argument, the knowledge base ID.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the assistant association.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#AssistantAssociation"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationInputData": {
            "type": "union",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The data that is input into Wisdom as a result of the assistant association.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationOutputData": {
            "type": "union",
            "members": {
                "knowledgeBaseAssociation": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseAssociationData",
                    "traits": {
                        "smithy.api#documentation": "<p>The knowledge base where output data is sent.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The data that is output as a result of the assistant association.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationSummary": {
            "type": "structure",
            "members": {
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the assistant association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantAssociationArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the assistant association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associationType": {
                    "target": "com.amazonaws.wisdom#AssociationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "associationData": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationOutputData",
                    "traits": {
                        "smithy.api#documentation": "<p>The association data.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information about the assistant association.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#AssistantAssociation"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#AssistantAssociationSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#AssistantAssociationSummary"
            }
        },
        "com.amazonaws.wisdom#AssistantData": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wisdom#AssistantType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#AssistantStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>This KMS key must have a policy that allows <code>kms:CreateGrant</code>,\n      <code>kms:DescribeKey</code>, and <code>kms:Decrypt/kms:GenerateDataKey</code> permissions to the IAM identity using the key\n      to invoke Wisdom. To use Wisdom with chat, the key policy must also allow\n      <code>kms:Decrypt</code>, <code>kms:GenerateDataKey*</code>, and <code>kms:DescribeKey</code> \n      permissions to the <code>connect.amazonaws.com</code> service\n      principal. </p>\n         <p>For more information about setting up a customer managed key for Wisdom, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-wisdom.html\">Enable Amazon Connect Wisdom\n        for your instance</a>.</p>"
                    }
                },
                "integrationConfiguration": {
                    "target": "com.amazonaws.wisdom#AssistantIntegrationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information for the Wisdom assistant integration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The assistant data.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantIntegrationConfiguration": {
            "type": "structure",
            "members": {
                "topicIntegrationArn": {
                    "target": "com.amazonaws.wisdom#GenericArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the integrated Amazon SNS topic used for streaming chat messages.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration information for the Wisdom assistant integration.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#AssistantSummary"
            }
        },
        "com.amazonaws.wisdom#AssistantStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CREATE_IN_PROGRESS",
                        "name": "CREATE_IN_PROGRESS"
                    },
                    {
                        "value": "CREATE_FAILED",
                        "name": "CREATE_FAILED"
                    },
                    {
                        "value": "ACTIVE",
                        "name": "ACTIVE"
                    },
                    {
                        "value": "DELETE_IN_PROGRESS",
                        "name": "DELETE_IN_PROGRESS"
                    },
                    {
                        "value": "DELETE_FAILED",
                        "name": "DELETE_FAILED"
                    },
                    {
                        "value": "DELETED",
                        "name": "DELETED"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#AssistantSummary": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "assistantArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the Wisdom assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wisdom#AssistantType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#AssistantStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the assistant.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>This KMS key must have a policy that allows <code>kms:CreateGrant</code>,\n      <code>kms:DescribeKey</code>, and <code>kms:Decrypt/kms:GenerateDataKey</code> permissions to the IAM identity using the key\n      to invoke Wisdom. To use Wisdom with chat, the key policy must also allow\n        <code>kms:Decrypt</code>, <code>kms:GenerateDataKey*</code>, and\n        <code>kms:DescribeKey</code> permissions to the <code>connect.amazonaws.com</code> service\n      principal. </p>\n         <p>For more information about setting up a customer managed key for Wisdom, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-wisdom.html\">Enable Amazon Connect Wisdom\n        for your instance</a>.</p>"
                    }
                },
                "integrationConfiguration": {
                    "target": "com.amazonaws.wisdom#AssistantIntegrationConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information for the Wisdom assistant integration.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information about the assistant.</p>"
            }
        },
        "com.amazonaws.wisdom#AssistantType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "AGENT",
                        "name": "AGENT"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#AssociationType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "KNOWLEDGE_BASE",
                        "name": "KNOWLEDGE_BASE"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#Channel": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 10
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.wisdom#Channels": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#Channel"
            },
            "traits": {
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.wisdom#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 4096
                }
            }
        },
        "com.amazonaws.wisdom#Configuration": {
            "type": "union",
            "members": {
                "connectConfiguration": {
                    "target": "com.amazonaws.wisdom#ConnectConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information of the Amazon Connect data source.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration information of the external data source.</p>"
            }
        },
        "com.amazonaws.wisdom#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "smithy.api#String"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The request could not be processed because of conflict in the current state of the\n      resource. For example, if you're using a <code>Create</code> API (such as\n        <code>CreateAssistant</code>) that accepts name, a conflicting resource (usually with the\n      same name) is being created or mutated.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.wisdom#ConnectConfiguration": {
            "type": "structure",
            "members": {
                "instanceId": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Amazon Connect instance. You can find the instanceId in the ARN of the instance.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration information of the Amazon Connect data source.</p>"
            }
        },
        "com.amazonaws.wisdom#ContactAttributeKey": {
            "type": "string"
        },
        "com.amazonaws.wisdom#ContactAttributeKeys": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#ContactAttributeKey"
            },
            "traits": {
                "smithy.api#sensitive": {},
                "smithy.api#uniqueItems": {}
            }
        },
        "com.amazonaws.wisdom#ContactAttributeValue": {
            "type": "string"
        },
        "com.amazonaws.wisdom#ContactAttributes": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.wisdom#ContactAttributeKey"
            },
            "value": {
                "target": "com.amazonaws.wisdom#ContactAttributeValue"
            },
            "traits": {
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.wisdom#Content": {
            "type": "resource",
            "identifiers": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn"
                }
            },
            "create": {
                "target": "com.amazonaws.wisdom#CreateContent"
            },
            "read": {
                "target": "com.amazonaws.wisdom#GetContent"
            },
            "update": {
                "target": "com.amazonaws.wisdom#UpdateContent"
            },
            "delete": {
                "target": "com.amazonaws.wisdom#DeleteContent"
            },
            "list": {
                "target": "com.amazonaws.wisdom#ListContents"
            },
            "operations": [
                {
                    "target": "com.amazonaws.wisdom#GetContentSummary"
                }
            ],
            "traits": {
                "aws.api#arn": {
                    "template": "content/{knowledgeBaseId}/{contentId}"
                },
                "aws.iam#disableConditionKeyInference": {}
            }
        },
        "com.amazonaws.wisdom#ContentData": {
            "type": "structure",
            "members": {
                "contentArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content revision.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wisdom#ContentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentType": {
                    "target": "com.amazonaws.wisdom#ContentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The media type of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#ContentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.wisdom#ContentMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Wisdom, you can store an external version identifier as metadata to utilize for determining drift.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "linkOutUri": {
                    "target": "com.amazonaws.wisdom#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The URI of the content.</p>"
                    }
                },
                "url": {
                    "target": "com.amazonaws.wisdom#Url",
                    "traits": {
                        "smithy.api#documentation": "<p>The URL of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "urlExpiry": {
                    "target": "smithy.api#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The expiration time of the URL as an epoch timestamp.</p>",
                        "smithy.api#required": {},
                        "smithy.api#timestampFormat": "epoch-seconds"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Information about the content.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#Content"
                    },
                    {
                        "resource": "com.amazonaws.wisdom#KnowledgeBase"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#ContentMetadata": {
            "type": "map",
            "key": {
                "target": "com.amazonaws.wisdom#NonEmptyString"
            },
            "value": {
                "target": "com.amazonaws.wisdom#NonEmptyString"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.wisdom#ContentReference": {
            "type": "structure",
            "members": {
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>"
                    }
                },
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it.</p>"
                    }
                },
                "contentArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>"
                    }
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Reference information about the content.</p>"
            }
        },
        "com.amazonaws.wisdom#ContentStatus": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "CREATE_IN_PROGRESS",
                        "name": "CREATE_IN_PROGRESS"
                    },
                    {
                        "value": "CREATE_FAILED",
                        "name": "CREATE_FAILED"
                    },
                    {
                        "value": "ACTIVE",
                        "name": "ACTIVE"
                    },
                    {
                        "value": "DELETE_IN_PROGRESS",
                        "name": "DELETE_IN_PROGRESS"
                    },
                    {
                        "value": "DELETE_FAILED",
                        "name": "DELETE_FAILED"
                    },
                    {
                        "value": "DELETED",
                        "name": "DELETED"
                    },
                    {
                        "value": "UPDATE_FAILED",
                        "name": "UPDATE_FAILED"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#ContentSummary": {
            "type": "structure",
            "members": {
                "contentArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseArn": {
                    "target": "com.amazonaws.wisdom#Arn",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "revisionId": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the revision of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wisdom#ContentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentType": {
                    "target": "com.amazonaws.wisdom#ContentType",
                    "traits": {
                        "smithy.api#documentation": "<p>The media type of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "status": {
                    "target": "com.amazonaws.wisdom#ContentStatus",
                    "traits": {
                        "smithy.api#documentation": "<p>The status of the content.</p>",
                        "smithy.api#required": {}
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.wisdom#ContentMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Wisdom, you can store an external version identifier as metadata to utilize for determining drift.</p>",
                        "smithy.api#required": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Summary information about the content.</p>",
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.wisdom#Content"
                    },
                    {
                        "resource": "com.amazonaws.wisdom#KnowledgeBase"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#ContentSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#ContentSummary"
            }
        },
        "com.amazonaws.wisdom#ContentTitle": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                }
            }
        },
        "com.amazonaws.wisdom#ContentType": {
            "type": "string",
            "traits": {
                "smithy.api#pattern": "^(text/(plain|html|csv))|(application/(pdf|vnd\\.openxmlformats-officedocument\\.wordprocessingml\\.document))|(application/x\\.wisdom-json;source=(salesforce|servicenow|zendesk))$"
            }
        },
        "com.amazonaws.wisdom#CreateAssistant": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateAssistantRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateAssistantResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an Amazon Connect Wisdom assistant.</p>",
                "smithy.api#http": {
                    "uri": "/assistants",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateAssistantAssociation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateAssistantAssociationRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateAssistantAssociationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an association between an Amazon Connect Wisdom assistant and another resource. Currently, the\n      only supported association is with a knowledge base. An assistant can have only a single\n      association.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/associations",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateAssistantAssociationRequest": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "associationType": {
                    "target": "com.amazonaws.wisdom#AssociationType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of association.</p>",
                        "smithy.api#required": {}
                    }
                },
                "association": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationInputData",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the associated resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.wisdom#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateAssistantAssociationResponse": {
            "type": "structure",
            "members": {
                "assistantAssociation": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationData",
                    "traits": {
                        "smithy.api#documentation": "<p>The assistant association.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateAssistantRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.wisdom#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "type": {
                    "target": "com.amazonaws.wisdom#AssistantType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of assistant.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the assistant.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>The customer managed key must have a policy that allows <code>kms:CreateGrant</code>,\n      <code> kms:DescribeKey</code>, and <code>kms:Decrypt/kms:GenerateDataKey</code> permissions to the IAM identity using the key\n      to invoke Wisdom. To use Wisdom with chat, the key policy must also allow\n        <code>kms:Decrypt</code>, <code>kms:GenerateDataKey*</code>, and\n        <code>kms:DescribeKey</code> permissions to the <code>connect.amazonaws.com</code> service\n      principal. </p>\n         <p>For more information about setting up a customer managed key for Wisdom, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-wisdom.html\">Enable Amazon Connect Wisdom\n        for your instance</a>.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateAssistantResponse": {
            "type": "structure",
            "members": {
                "assistant": {
                    "target": "com.amazonaws.wisdom#AssistantData",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the assistant.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateContent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateContentRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateContentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates Wisdom content. Before to calling this API, use <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a> to\n      upload an asset.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/contents",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateContentRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the content. Each piece of content in a knowledge base must have a unique\n      name. You can retrieve a piece of content using only its knowledge base and its name with the\n        <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_SearchContent.html\">SearchContent</a> API.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wisdom#ContentTitle",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the content. If not set, the title is equal to the name.</p>"
                    }
                },
                "overrideLinkOutUri": {
                    "target": "com.amazonaws.wisdom#Uri",
                    "traits": {
                        "smithy.api#documentation": "<p>The URI you want to use for the article. If the knowledge base has a templateUri, setting\n      this argument overrides it for this piece of content.</p>"
                    }
                },
                "metadata": {
                    "target": "com.amazonaws.wisdom#ContentMetadata",
                    "traits": {
                        "smithy.api#documentation": "<p>A key/value map to store attributes without affecting tagging or recommendations. \nFor example, when synchronizing data between an external system and Wisdom, you can store an external version identifier as metadata to utilize for determining drift.</p>"
                    }
                },
                "uploadId": {
                    "target": "com.amazonaws.wisdom#UploadId",
                    "traits": {
                        "smithy.api#documentation": "<p>A pointer to the uploaded asset. This value is returned by <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_StartContentUpload.html\">StartContentUpload</a>.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateContentResponse": {
            "type": "structure",
            "members": {
                "content": {
                    "target": "com.amazonaws.wisdom#ContentData",
                    "traits": {
                        "smithy.api#documentation": "<p>The content.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateKnowledgeBase": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateKnowledgeBaseRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateKnowledgeBaseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a knowledge base.</p>\n         <note>\n            <p>When using this API, you cannot reuse <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a>\n        DataIntegrations with external knowledge bases such as Salesforce and ServiceNow. If you do,\n        you'll get an <code>InvalidRequestException</code> error. </p>\n            <p>For example, you're programmatically managing your external knowledge base, and you want\n        to add or remove one of the fields that is being ingested from Salesforce. Do the\n        following:</p>\n            <ol>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/wisdom/latest/APIReference/API_DeleteKnowledgeBase.html\">DeleteKnowledgeBase</a>.</p>\n               </li>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a>.</p>\n               </li>\n               <li>\n                  <p>Call <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> to recreate the DataIntegration or a create different\n            one.</p>\n               </li>\n               <li>\n                  <p>Call CreateKnowledgeBase.</p>\n               </li>\n            </ol>\n         </note>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateKnowledgeBaseRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the knowledge base.</p>",
                        "smithy.api#required": {}
                    }
                },
                "knowledgeBaseType": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseType",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of knowledge base. Only CUSTOM knowledge bases allow you to upload your own content.\n      EXTERNAL knowledge bases support integrations with third-party systems whose content is\n      synchronized automatically. </p>",
                        "smithy.api#required": {}
                    }
                },
                "sourceConfiguration": {
                    "target": "com.amazonaws.wisdom#SourceConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The source of the knowledge base content. Only set this argument for EXTERNAL knowledge\n      bases.</p>"
                    }
                },
                "renderingConfiguration": {
                    "target": "com.amazonaws.wisdom#RenderingConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about how to render the content.</p>"
                    }
                },
                "serverSideEncryptionConfiguration": {
                    "target": "com.amazonaws.wisdom#ServerSideEncryptionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information for the customer managed key used for encryption. </p>\n         <p>This KMS key must have a policy that allows <code>kms:CreateGrant</code>,\n      <code>kms:DescribeKey</code>, and <code>kms:Decrypt/kms:GenerateDataKey</code> permissions to the IAM identity using the key\n      to invoke Wisdom.</p>\n         <p>For more information about setting up a customer managed key for Wisdom, see <a href=\"https://docs.aws.amazon.com/connect/latest/adminguide/enable-wisdom.html\">Enable Amazon Connect Wisdom\n        for your instance</a>.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateKnowledgeBaseResponse": {
            "type": "structure",
            "members": {
                "knowledgeBase": {
                    "target": "com.amazonaws.wisdom#KnowledgeBaseData",
                    "traits": {
                        "smithy.api#documentation": "<p>The knowledge base.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateQuickResponse": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateQuickResponseRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateQuickResponseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a Wisdom quick response.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/quickResponses",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateQuickResponseRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#QuickResponseName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the quick response.</p>",
                        "smithy.api#required": {}
                    }
                },
                "content": {
                    "target": "com.amazonaws.wisdom#QuickResponseDataProvider",
                    "traits": {
                        "smithy.api#documentation": "<p>The content of the quick response.</p>",
                        "smithy.api#required": {}
                    }
                },
                "contentType": {
                    "target": "com.amazonaws.wisdom#QuickResponseType",
                    "traits": {
                        "smithy.api#documentation": "<p>The media type of the quick response content.</p>\n         <ul>\n            <li>\n               <p>Use <code>application/x.quickresponse;format=plain</code> for a quick response written in plain text.</p>\n            </li>\n            <li>\n               <p>Use <code>application/x.quickresponse;format=markdown</code> for a quick response written in richtext.</p>\n            </li>\n         </ul>"
                    }
                },
                "groupingConfiguration": {
                    "target": "com.amazonaws.wisdom#GroupingConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information of the user groups that the quick response is accessible to.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#QuickResponseDescription",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the quick response.</p>"
                    }
                },
                "shortcutKey": {
                    "target": "com.amazonaws.wisdom#ShortCutKey",
                    "traits": {
                        "smithy.api#documentation": "<p>The shortcut key of the quick response. The value should be unique across the\n  knowledge base.\n    </p>"
                    }
                },
                "isActive": {
                    "target": "smithy.api#Boolean",
                    "traits": {
                        "smithy.api#documentation": "<p>Whether the quick response is active.</p>"
                    }
                },
                "channels": {
                    "target": "com.amazonaws.wisdom#Channels",
                    "traits": {
                        "smithy.api#documentation": "<p>The Amazon Connect channels this quick response applies to.</p>"
                    }
                },
                "language": {
                    "target": "com.amazonaws.wisdom#LanguageCode",
                    "traits": {
                        "smithy.api#documentation": "<p>The language code value for the language in which the quick response is written.  The supported language codes include <code>de_DE</code>, <code>en_US</code>, <code>es_ES</code>,\n  <code>fr_FR</code>, <code>id_ID</code>, <code>it_IT</code>, <code>ja_JP</code>, <code>ko_KR</code>, <code>pt_BR</code>,\n  <code>zh_CN</code>, <code>zh_TW</code>\n         </p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wisdom#CreateQuickResponseResponse": {
            "type": "structure",
            "members": {
                "quickResponse": {
                    "target": "com.amazonaws.wisdom#QuickResponseData",
                    "traits": {
                        "smithy.api#documentation": "<p>The quick response.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wisdom#CreateSession": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#CreateSessionRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#CreateSessionResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a session. A session is a contextual container used for generating\n      recommendations. Amazon Connect creates a new Wisdom session for each contact on which\n      Wisdom is enabled.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/sessions",
                    "method": "POST"
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#CreateSessionRequest": {
            "type": "structure",
            "members": {
                "clientToken": {
                    "target": "com.amazonaws.wisdom#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n            request. If not provided, the Amazon Web Services\n            SDK populates this field. For more information about idempotency, see\n            <a href=\"https://aws.amazon.com/builders-library/making-retries-safe-with-idempotent-APIs/\">Making retries safe with idempotent APIs</a>.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.wisdom#Name",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the session.</p>",
                        "smithy.api#required": {}
                    }
                },
                "description": {
                    "target": "com.amazonaws.wisdom#Description",
                    "traits": {
                        "smithy.api#documentation": "<p>The description.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.wisdom#Tags",
                    "traits": {
                        "smithy.api#documentation": "<p>The tags used to organize, track, or control access for this resource.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#CreateSessionResponse": {
            "type": "structure",
            "members": {
                "session": {
                    "target": "com.amazonaws.wisdom#SessionData",
                    "traits": {
                        "smithy.api#documentation": "<p>The session.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteAssistant": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteAssistantRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteAssistantResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an assistant.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteAssistantAssociation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteAssistantAssociationRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteAssistantAssociationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes an assistant association.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/associations/{assistantAssociationId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteAssistantAssociationRequest": {
            "type": "structure",
            "members": {
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the assistant association. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteAssistantAssociationResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.wisdom#DeleteAssistantRequest": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteAssistantResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.wisdom#DeleteContent": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteContentRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteContentResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the content.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/contents/{contentId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteContentRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "contentId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the content. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteContentResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.wisdom#DeleteImportJob": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteImportJobRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteImportJobResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the quick response import job.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/importJobs/{importJobId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteImportJobRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "importJobId": {
                    "target": "com.amazonaws.wisdom#Uuid",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the import job to be deleted.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wisdom#DeleteImportJobResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wisdom#DeleteKnowledgeBase": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteKnowledgeBaseRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteKnowledgeBaseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ConflictException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes the knowledge base.</p>\n         <note>\n            <p>When you use this API to delete an external knowledge base such as Salesforce or\n        ServiceNow, you must also delete the <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/Welcome.html\">Amazon AppIntegrations</a>\n        DataIntegration. This is because you can't reuse the DataIntegration after it's been\n        associated with an external knowledge base. However, you can delete and recreate it. See\n          <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_DeleteDataIntegration.html\">DeleteDataIntegration</a> and <a href=\"https://docs.aws.amazon.com/appintegrations/latest/APIReference/API_CreateDataIntegration.html\">CreateDataIntegration</a> in the <i>Amazon AppIntegrations API\n        Reference</i>.</p>\n         </note>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteKnowledgeBaseRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The knowledge base to delete content from. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#DeleteKnowledgeBaseResponse": {
            "type": "structure",
            "members": {}
        },
        "com.amazonaws.wisdom#DeleteQuickResponse": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#DeleteQuickResponseRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#DeleteQuickResponseResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Deletes a quick response.</p>",
                "smithy.api#http": {
                    "uri": "/knowledgeBases/{knowledgeBaseId}/quickResponses/{quickResponseId}",
                    "method": "DELETE",
                    "code": 204
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.wisdom#DeleteQuickResponseRequest": {
            "type": "structure",
            "members": {
                "knowledgeBaseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The knowledge base from which the quick response is deleted. The identifier of the knowledge base. This should not be a QUICK_RESPONSES type knowledge \nbase if you're storing Wisdom Content resource to it.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "quickResponseId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the quick response to delete.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.wisdom#DeleteQuickResponseResponse": {
            "type": "structure",
            "members": {},
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.wisdom#Description": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 255
                },
                "smithy.api#pattern": "^[a-zA-Z0-9\\s_.,-]+"
            }
        },
        "com.amazonaws.wisdom#Document": {
            "type": "structure",
            "members": {
                "contentReference": {
                    "target": "com.amazonaws.wisdom#ContentReference",
                    "traits": {
                        "smithy.api#documentation": "<p>A reference to the content resource.</p>",
                        "smithy.api#required": {}
                    }
                },
                "title": {
                    "target": "com.amazonaws.wisdom#DocumentText",
                    "traits": {
                        "smithy.api#documentation": "<p>The title of the document.</p>"
                    }
                },
                "excerpt": {
                    "target": "com.amazonaws.wisdom#DocumentText",
                    "traits": {
                        "smithy.api#documentation": "<p>The excerpt from the document.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The document.</p>"
            }
        },
        "com.amazonaws.wisdom#DocumentText": {
            "type": "structure",
            "members": {
                "text": {
                    "target": "com.amazonaws.wisdom#SensitiveString",
                    "traits": {
                        "smithy.api#documentation": "<p>Text in the document.</p>"
                    }
                },
                "highlights": {
                    "target": "com.amazonaws.wisdom#Highlights",
                    "traits": {
                        "smithy.api#documentation": "<p>Highlights in the document text.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The text of the document.</p>"
            }
        },
        "com.amazonaws.wisdom#ExternalSource": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "AMAZON_CONNECT",
                        "name": "AMAZON_CONNECT"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#ExternalSourceConfiguration": {
            "type": "structure",
            "members": {
                "source": {
                    "target": "com.amazonaws.wisdom#ExternalSource",
                    "traits": {
                        "smithy.api#documentation": "<p>The type of the external data source.</p>",
                        "smithy.api#required": {}
                    }
                },
                "configuration": {
                    "target": "com.amazonaws.wisdom#Configuration",
                    "traits": {
                        "smithy.api#documentation": "<p>The configuration information of the external data source.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration information of the external data source.</p>"
            }
        },
        "com.amazonaws.wisdom#Filter": {
            "type": "structure",
            "members": {
                "field": {
                    "target": "com.amazonaws.wisdom#FilterField",
                    "traits": {
                        "smithy.api#documentation": "<p>The field on which to filter.</p>",
                        "smithy.api#required": {}
                    }
                },
                "operator": {
                    "target": "com.amazonaws.wisdom#FilterOperator",
                    "traits": {
                        "smithy.api#documentation": "<p>The operator to use for comparing the field’s value with the provided value.</p>",
                        "smithy.api#required": {}
                    }
                },
                "value": {
                    "target": "com.amazonaws.wisdom#NonEmptyString",
                    "traits": {
                        "smithy.api#documentation": "<p>The desired field value on which to filter.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>A search filter.</p>"
            }
        },
        "com.amazonaws.wisdom#FilterField": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "NAME",
                        "name": "NAME"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#FilterList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.wisdom#Filter"
            }
        },
        "com.amazonaws.wisdom#FilterOperator": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "EQUALS",
                        "name": "EQUALS"
                    }
                ]
            }
        },
        "com.amazonaws.wisdom#GenericArn": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:[a-z-]+?:[a-z-]+?:[a-z0-9-]*?:([0-9]{12})?:[a-zA-Z0-9-:/]+$"
            }
        },
        "com.amazonaws.wisdom#GetAssistant": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetAssistantRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetAssistantResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about an assistant.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetAssistantAssociation": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.wisdom#GetAssistantAssociationRequest"
            },
            "output": {
                "target": "com.amazonaws.wisdom#GetAssistantAssociationResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.wisdom#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.wisdom#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.wisdom#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Retrieves information about an assistant association.</p>",
                "smithy.api#http": {
                    "uri": "/assistants/{assistantId}/associations/{assistantAssociationId}",
                    "method": "GET"
                },
                "smithy.api#readonly": {}
            }
        },
        "com.amazonaws.wisdom#GetAssistantAssociationRequest": {
            "type": "structure",
            "members": {
                "assistantAssociationId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the assistant association. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetAssistantAssociationResponse": {
            "type": "structure",
            "members": {
                "assistantAssociation": {
                    "target": "com.amazonaws.wisdom#AssistantAssociationData",
                    "traits": {
                        "smithy.api#documentation": "<p>The assistant association.</p>"
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetAssistantRequest": {
            "type": "structure",
            "members": {
                "assistantId": {
                    "target": "com.amazonaws.wisdom#UuidOrArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The identifier of the Wisdom assistant. Can be either the ID or the ARN. URLs cannot contain the ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                }
            }
        },
        "com.amazonaws.wisdom#GetAssistantResponse": {
            "type": "structure",
            "members": {
                "assistant": {
                    "target": "com.amazonaws.wisdom#AssistantData",
                    "traits": {
                        "smithy.api#documentation": "<p>Information about the assistant.</p>"
                    }
                }
            }
        },
[...]
