{
  "smithy": "1.0",
  "metadata": {
    "suppressions": [
      {
        "id": "HttpMethodSemantics",
        "namespace": "*"
      },
      {
        "id": "HttpResponseCodeSemantics",
        "namespace": "*"
      },
      {
        "id": "PaginatedTrait",
        "namespace": "*"
      },
      {
        "id": "HttpHeaderTrait",
        "namespace": "*"
      },
      {
        "id": "HttpUriConflict",
        "namespace": "*"
      },
      {
        "id": "Service",
        "namespace": "*"
      }
    ]
  },
  "shapes": {
    "com.amazonaws.workmail#AccessControlRule": {
      "type": "structure",
      "members": {
        "NotActions": {
          "target": "com.amazonaws.workmail#ActionsList",
          "traits": {
            "smithy.api#documentation": "<p>Access protocol actions to exclude from the rule. Valid values include\n            <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>,\n            <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.workmail#AccessControlRuleDescription",
          "traits": {
            "smithy.api#documentation": "<p>The rule description.</p>"
          }
        },
        "Actions": {
          "target": "com.amazonaws.workmail#ActionsList",
          "traits": {
            "smithy.api#documentation": "<p>Access protocol actions to include in the rule. Valid values include\n            <code>ActiveSync</code>, <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>,\n            <code>SMTP</code>, <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>"
          }
        },
        "IpRanges": {
          "target": "com.amazonaws.workmail#IpRangeList",
          "traits": {
            "smithy.api#documentation": "<p>IPv4 CIDR ranges to include in the rule.</p>"
          }
        },
        "Effect": {
          "target": "com.amazonaws.workmail#AccessControlRuleEffect",
          "traits": {
            "smithy.api#documentation": "<p>The rule effect.</p>"
          }
        },
        "DateCreated": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the rule was created.</p>"
          }
        },
        "NotIpRanges": {
          "target": "com.amazonaws.workmail#IpRangeList",
          "traits": {
            "smithy.api#documentation": "<p>IPv4 CIDR ranges to exclude from the rule.</p>"
          }
        },
        "NotUserIds": {
          "target": "com.amazonaws.workmail#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>User IDs to exclude from the rule.</p>"
          }
        },
        "DateModified": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date that the rule was modified.</p>"
          }
        },
        "UserIds": {
          "target": "com.amazonaws.workmail#UserIdList",
          "traits": {
            "smithy.api#documentation": "<p>User IDs to include in the rule.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#AccessControlRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The rule name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>A rule that controls access to an Amazon WorkMail organization.</p>"
      }
    },
    "com.amazonaws.workmail#AccessControlRuleAction": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[a-zA-Z]+"
      }
    },
    "com.amazonaws.workmail#AccessControlRuleDescription": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 255
        },
        "smithy.api#pattern": "[\\u0020-\\u00FF]+"
      }
    },
    "com.amazonaws.workmail#AccessControlRuleEffect": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ALLOW",
            "name": "ALLOW"
          },
          {
            "value": "DENY",
            "name": "DENY"
          }
        ]
      }
    },
    "com.amazonaws.workmail#AccessControlRuleName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 64
        },
        "smithy.api#pattern": "[a-zA-Z0-9_-]+"
      }
    },
    "com.amazonaws.workmail#AccessControlRuleNameList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#AccessControlRuleName"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#AccessControlRulesList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#AccessControlRule"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#ActionsList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#AccessControlRuleAction"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#Aliases": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#EmailAddress"
      }
    },
    "com.amazonaws.workmail#AmazonResourceName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 1011
        }
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#AssociateDelegateToResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#AssociateDelegateToResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member (user or group) to the resource's set of delegates.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the resource exists.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to associate to the resource.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The resource for which members (users or groups) are associated.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#AssociateDelegateToResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#AssociateMemberToGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#AssociateMemberToGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#AssociateMemberToGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds a member (user or group) to the group's set.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#AssociateMemberToGroupRequest": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to associate to the group.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The group to which the member (user or group) is associated.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#AssociateMemberToGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#BookingOptions": {
      "type": "structure",
      "members": {
        "AutoDeclineConflictingRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The resource's ability to automatically decline any conflicting requests.</p>"
          }
        },
        "AutoDeclineRecurringRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The resource's ability to automatically decline any recurring requests.</p>"
          }
        },
        "AutoAcceptRequests": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>The resource's ability to automatically reply to requests. If disabled, delegates\n         must be associated to the resource.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>At least one delegate must be associated to the resource to disable automatic replies\n         from the resource.</p>"
      }
    },
    "com.amazonaws.workmail#Boolean": {
      "type": "boolean"
    },
    "com.amazonaws.workmail#CancelMailboxExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CancelMailboxExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CancelMailboxExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Cancels a mailbox export job.</p>\n         <note>\n            <p>If the mailbox export job is near completion, it might not be possible to cancel\n            it.</p>\n         </note>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CancelMailboxExportJobRequest": {
      "type": "structure",
      "members": {
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token for the client request.</p>",
            "smithy.api#idempotencyToken": {},
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        },
        "JobId": {
          "target": "com.amazonaws.workmail#MailboxExportJobId",
          "traits": {
            "smithy.api#documentation": "<p>The job ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CancelMailboxExportJobResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#CreateAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EmailAddressInUseException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#MailDomainStateException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Adds an alias to the set of a given member (user or group) of Amazon WorkMail.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateAliasRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the member (user or group) exists.</p>",
            "smithy.api#required": {}
          }
        },
        "Alias": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The alias to add to the member set.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The member (user or group) to which this alias is added.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateAliasResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#CreateGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a group that can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateGroupRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workmail#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization under which the group is to be created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateGroupResponse": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryInUseException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#LimitExceededException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon WorkMail organization. Optionally, you can choose to associate an existing AWS Directory Service directory with your organization. If an AWS Directory Service directory ID is specified, the organization alias must match the directory alias. If you choose not to associate an existing directory with your organization, then we create a new Amazon WorkMail directory for you. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_new_organization.html\">Adding an organization</a> in the <i>Amazon WorkMail Administrator Guide</i>.</p>\n         <p>You can associate multiple email domains with an organization, then set your default email domain from the Amazon WorkMail console. You can also associate a domain that is managed in an Amazon Route 53 public hosted zone. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_domain.html\">Adding a domain</a> and <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/default_domain.html\">Choosing the default domain</a> in the <i>Amazon WorkMail Administrator Guide</i>.</p>\n         <p>Optionally, you can use a customer managed master key from AWS Key Management Service\n         (AWS KMS) to encrypt email for your organization. If you don't associate an AWS KMS key, Amazon WorkMail creates a\n         default AWS managed master key for you.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateOrganizationRequest": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.workmail#OrganizationName",
          "traits": {
            "smithy.api#documentation": "<p>The organization alias.</p>",
            "smithy.api#required": {}
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.workmail#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of a customer managed master key from AWS\n         KMS.</p>"
          }
        },
        "DirectoryId": {
          "target": "com.amazonaws.workmail#DirectoryId",
          "traits": {
            "smithy.api#documentation": "<p>The AWS Directory Service directory ID.</p>"
          }
        },
        "Domains": {
          "target": "com.amazonaws.workmail#Domains",
          "traits": {
            "smithy.api#documentation": "<p>The email domains to associate with the organization.</p>"
          }
        },
        "EnableInteroperability": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>When <code>true</code>, allows organization interoperability between Amazon WorkMail and Microsoft Exchange. Can only be set to <code>true</code> if an AD Connector directory ID is included in the request.</p>"
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token associated with the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateOrganizationResponse": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a new Amazon WorkMail resource. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateResourceRequest": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.workmail#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the new resource. The available types are <code>equipment</code> and\n            <code>room</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization for which the resource is\n         created.</p>",
            "smithy.api#required": {}
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the new resource.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateResourceResponse": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the new resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#CreateUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#CreateUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidPasswordException"
        },
        {
          "target": "com.amazonaws.workmail#NameAvailabilityException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#ReservedNameException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a user who can be used in Amazon WorkMail by calling the <a>RegisterToWorkMail</a> operation.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#CreateUserRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workmail#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the new user. WorkMail directory user names have a maximum length of 64. All others have a maximum length of 20.</p>",
            "smithy.api#required": {}
          }
        },
        "Password": {
          "target": "com.amazonaws.workmail#Password",
          "traits": {
            "smithy.api#documentation": "<p>The password for the new user.</p>",
            "smithy.api#required": {}
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name for the new user.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization for which the user is created.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#CreateUserResponse": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the new user.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#Delegate": {
      "type": "structure",
      "members": {
        "Type": {
          "target": "com.amazonaws.workmail#MemberType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the delegate: user or group.</p>",
            "smithy.api#required": {}
          }
        },
        "Id": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user or group associated as the resource's delegate.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The name of the attribute, which is one of the values defined in the UserAttribute\n         enumeration.</p>"
      }
    },
    "com.amazonaws.workmail#DeleteAccessControlRule": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteAccessControlRuleRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteAccessControlRuleResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an access control rule for the specified WorkMail organization.</p>"
      }
    },
    "com.amazonaws.workmail#DeleteAccessControlRuleRequest": {
      "type": "structure",
      "members": {
        "Name": {
          "target": "com.amazonaws.workmail#AccessControlRuleName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the access control rule.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteAccessControlRuleResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteAlias": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteAliasRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteAliasResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Remove one or more specified aliases from a set of aliases for a given\n         user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteAliasRequest": {
      "type": "structure",
      "members": {
        "Alias": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The aliases to be removed from the user's set of aliases. Duplicate entries in the\n         list are collapsed into single entries (the list is transformed into a set).</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the user exists.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member (user or group) from which to have the aliases\n         removed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteAliasResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a group from Amazon WorkMail.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteGroupRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization that contains the group.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteMailboxPermissions": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteMailboxPermissionsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteMailboxPermissionsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes permissions granted to a member (user or group).</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteMailboxPermissionsRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member (user or group) that owns the mailbox.</p>",
            "smithy.api#required": {}
          }
        },
        "GranteeId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the member (user or group) for which to delete granted\n         permissions.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the organization under which the member (user or group)\n         exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteMailboxPermissionsResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes an Amazon WorkMail organization and all underlying AWS resources managed by Amazon WorkMail as part of the organization. You can choose whether to delete the associated directory. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/remove_organization.html\">Removing an organization</a> in the <i>Amazon WorkMail Administrator Guide</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteOrganizationRequest": {
      "type": "structure",
      "members": {
        "DeleteDirectory": {
          "target": "com.amazonaws.workmail#Boolean",
          "traits": {
            "smithy.api#documentation": "<p>If true, deletes the AWS Directory Service directory associated with the organization.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        },
        "ClientToken": {
          "target": "com.amazonaws.workmail#IdempotencyClientToken",
          "traits": {
            "smithy.api#documentation": "<p>The idempotency token associated with the request.</p>",
            "smithy.api#idempotencyToken": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteOrganizationResponse": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The state of the organization.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified resource. </p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization from which the resource is\n         deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteRetentionPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteRetentionPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteRetentionPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes the specified retention policy from the specified organization.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteRetentionPolicyRequest": {
      "type": "structure",
      "members": {
        "Id": {
          "target": "com.amazonaws.workmail#ShortString",
          "traits": {
            "smithy.api#documentation": "<p>The retention policy ID.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteRetentionPolicyResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeleteUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeleteUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeleteUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Deletes a user from Amazon WorkMail and all subsequent systems. Before you can delete a\n         user, the user state must be <code>DISABLED</code>. Use the <a>DescribeUser</a>\n         action to confirm the user state.</p>\n         <p>Deleting a user is permanent and cannot be undone. WorkMail archives user mailboxes for\n         30 days before they are permanently removed.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeleteUserRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization that contains the user to be deleted.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user to be deleted.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeleteUserResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DeregisterFromWorkMail": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DeregisterFromWorkMailRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DeregisterFromWorkMailResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Mark a user, group, or resource as no longer used in Amazon WorkMail. This action\n         disassociates the mailbox and schedules it for clean-up. WorkMail keeps mailboxes for 30 days\n         before they are permanently removed. The functionality in the console is\n            <i>Disable</i>.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DeregisterFromWorkMailRequest": {
      "type": "structure",
      "members": {
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member (user or group) to be updated.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the Amazon WorkMail entity exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DeregisterFromWorkMailResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DescribeGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data available for the group.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeGroupRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the group to be described.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeGroupResponse": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the described group.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a user was registered to WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the described group.</p>"
          }
        },
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a user was deregistered from WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the described group.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the user: enabled (registered to Amazon WorkMail) or disabled (deregistered or\n         never registered to WorkMail).</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeMailboxExportJob": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeMailboxExportJobRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeMailboxExportJobResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Describes the current status of a mailbox export job.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeMailboxExportJobRequest": {
      "type": "structure",
      "members": {
        "JobId": {
          "target": "com.amazonaws.workmail#MailboxExportJobId",
          "traits": {
            "smithy.api#documentation": "<p>The mailbox export job ID.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeMailboxExportJobResponse": {
      "type": "structure",
      "members": {
        "Description": {
          "target": "com.amazonaws.workmail#Description",
          "traits": {
            "smithy.api#documentation": "<p>The mailbox export job description.</p>"
          }
        },
        "RoleArn": {
          "target": "com.amazonaws.workmail#RoleArn",
          "traits": {
            "smithy.api#documentation": "<p>The ARN of the AWS Identity and Access Management (IAM) role that grants write permission to the Amazon Simple\n         Storage Service (Amazon S3) bucket.</p>"
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the user or resource associated with the mailbox.</p>"
          }
        },
        "S3Path": {
          "target": "com.amazonaws.workmail#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The path to the S3 bucket and file that the mailbox export job is exporting\n         to.</p>"
          }
        },
        "EndTime": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The mailbox export job end timestamp.</p>"
          }
        },
        "KmsKeyArn": {
          "target": "com.amazonaws.workmail#KmsKeyArn",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the symmetric AWS Key Management Service (AWS KMS)\n         key that encrypts the exported mailbox content.</p>"
          }
        },
        "EstimatedProgress": {
          "target": "com.amazonaws.workmail#Percentage",
          "traits": {
            "smithy.api#documentation": "<p>The estimated progress of the mailbox export job, in percentage points.</p>"
          }
        },
        "S3BucketName": {
          "target": "com.amazonaws.workmail#S3BucketName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the S3 bucket.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#MailboxExportJobState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the mailbox export job.</p>"
          }
        },
        "S3Prefix": {
          "target": "com.amazonaws.workmail#S3ObjectKey",
          "traits": {
            "smithy.api#documentation": "<p>The S3 bucket prefix.</p>"
          }
        },
        "StartTime": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The mailbox export job start timestamp.</p>"
          }
        },
        "ErrorInfo": {
          "target": "com.amazonaws.workmail#MailboxExportErrorInfo",
          "traits": {
            "smithy.api#documentation": "<p>Error information for failed mailbox export jobs.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeOrganization": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeOrganizationRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeOrganizationResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides more information regarding a given organization based on its\n         identifier.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeOrganizationRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeOrganizationResponse": {
      "type": "structure",
      "members": {
        "DirectoryId": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the directory associated with an Amazon WorkMail organization.</p>"
          }
        },
        "ARN": {
          "target": "com.amazonaws.workmail#AmazonResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The Amazon Resource Name (ARN) of the organization.</p>"
          }
        },
        "ErrorMessage": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>(Optional) The error message indicating if unexpected behavior was encountered with\n         regards to the organization.</p>"
          }
        },
        "DirectoryType": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The type of directory associated with the WorkMail organization.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The state of an organization.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of an organization.</p>"
          }
        },
        "Alias": {
          "target": "com.amazonaws.workmail#OrganizationName",
          "traits": {
            "smithy.api#documentation": "<p>The alias for an organization.</p>"
          }
        },
        "CompletedDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date at which the organization became usable in the WorkMail context, in UNIX epoch\n         time format.</p>"
          }
        },
        "DefaultMailDomain": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The default mail domain associated with the organization.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns the data available for the resource.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeResourceRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier associated with the organization for which the resource is\n         described.</p>",
            "smithy.api#required": {}
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeResourceResponse": {
      "type": "structure",
      "members": {
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a resource was disabled from WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "Type": {
          "target": "com.amazonaws.workmail#ResourceType",
          "traits": {
            "smithy.api#documentation": "<p>The type of the described resource.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the resource: enabled (registered to Amazon WorkMail), disabled (deregistered\n         or never registered to WorkMail), or deleted.</p>"
          }
        },
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the described resource.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the described resource.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time when a resource was enabled for WorkMail, in UNIX epoch time\n         format.</p>"
          }
        },
        "BookingOptions": {
          "target": "com.amazonaws.workmail#BookingOptions",
          "traits": {
            "smithy.api#documentation": "<p>The booking options for the described resource.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#ResourceName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the described resource.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeUser": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DescribeUserRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DescribeUserResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Provides information regarding the user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DescribeUserRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the user exists.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user to be described.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DescribeUserResponse": {
      "type": "structure",
      "members": {
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the user was disabled for Amazon WorkMail usage, in UNIX epoch\n         time format.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#UserName",
          "traits": {
            "smithy.api#documentation": "<p>The name for the user.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date and time at which the user was enabled for Amazon WorkMail usage, in UNIX epoch\n         time format.</p>"
          }
        },
        "UserRole": {
          "target": "com.amazonaws.workmail#UserRole",
          "traits": {
            "smithy.api#documentation": "<p>In certain cases, other entities are modeled as users. If interoperability is\n         enabled, resources are imported into Amazon WorkMail as users. Because different WorkMail\n         organizations rely on different directory types, administrators can distinguish between an\n         unregistered user (account is disabled and has a user role) and the directory\n         administrators. The values are USER, RESOURCE, and SYSTEM_USER.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of a user: enabled (registered to Amazon WorkMail) or disabled (deregistered or\n         never registered to WorkMail).</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the user.</p>"
          }
        },
        "DisplayName": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The display name of the user.</p>"
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the described user.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#Description": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 1023
        },
        "smithy.api#pattern": "[\\S\\s]*"
      }
    },
    "com.amazonaws.workmail#DirectoryId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 12,
          "max": 12
        },
        "smithy.api#pattern": "^d-[0-9a-f]{10}$"
      }
    },
    "com.amazonaws.workmail#DirectoryInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory is already in use by another WorkMail organization in the same account and Region.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory service doesn't recognize the credentials supplied by WorkMail.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#DirectoryUnavailableException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The directory is unavailable. It might be located in another Region or deleted.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#DisassociateDelegateFromResource": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DisassociateDelegateFromResourceRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DisassociateDelegateFromResourceResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a member from the resource's set of delegates.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DisassociateDelegateFromResourceRequest": {
      "type": "structure",
      "members": {
        "ResourceId": {
          "target": "com.amazonaws.workmail#ResourceId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the resource from which delegates' set members are removed.\n      </p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the resource exists.</p>",
            "smithy.api#required": {}
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member (user, group) to be removed from the resource's\n         delegates.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DisassociateDelegateFromResourceResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#DisassociateMemberFromGroup": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#DisassociateMemberFromGroupRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#DisassociateMemberFromGroupResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#DirectoryServiceAuthenticationFailedException"
        },
        {
          "target": "com.amazonaws.workmail#DirectoryUnavailableException"
        },
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        },
        {
          "target": "com.amazonaws.workmail#UnsupportedOperationException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Removes a member from a group.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#DisassociateMemberFromGroupRequest": {
      "type": "structure",
      "members": {
        "MemberId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the member to be removed to the group.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        },
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the group from which members are removed.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#DisassociateMemberFromGroupResponse": {
      "type": "structure",
      "members": {}
    },
    "com.amazonaws.workmail#Domain": {
      "type": "structure",
      "members": {
        "HostedZoneId": {
          "target": "com.amazonaws.workmail#HostedZoneId",
          "traits": {
            "smithy.api#documentation": "<p>The hosted zone ID for a domain hosted in Route 53. Required when configuring a domain hosted in Route 53.</p>"
          }
        },
        "DomainName": {
          "target": "com.amazonaws.workmail#DomainName",
          "traits": {
            "smithy.api#documentation": "<p>The fully qualified domain name.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The domain to associate with an Amazon WorkMail organization.</p>\n         <p>When you configure a domain hosted in Amazon Route 53 (Route 53), all recommended DNS records are added to the organization when you create it. For more information, see <a href=\"https://docs.aws.amazon.com/workmail/latest/adminguide/add_domain.html\">Adding a domain</a> in the <i>Amazon WorkMail Administrator Guide</i>.</p>"
      }
    },
    "com.amazonaws.workmail#DomainName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 3,
          "max": 255
        },
        "smithy.api#pattern": "[a-zA-Z0-9.-]+\\.[a-zA-Z-]{2,}"
      }
    },
    "com.amazonaws.workmail#Domains": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#Domain"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 5
        }
      }
    },
    "com.amazonaws.workmail#EmailAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 254
        },
        "smithy.api#pattern": "[a-zA-Z0-9._%+-]{1,64}@[a-zA-Z0-9.-]+\\.[a-zA-Z-]{2,}"
      }
    },
    "com.amazonaws.workmail#EmailAddressInUseException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The email address that you're trying to assign is already created for a different\n         user, group, or resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#EntityAlreadyRegisteredException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The user, group, or resource that you're trying to register is already\n         registered.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#EntityNotFoundException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The identifier supplied for the user, group, or resource does not exist in your\n         organization.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#EntityState": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "ENABLED",
            "name": "ENABLED"
          },
          {
            "value": "DISABLED",
            "name": "DISABLED"
          },
          {
            "value": "DELETED",
            "name": "DELETED"
          }
        ]
      }
    },
    "com.amazonaws.workmail#EntityStateException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>You are performing an operation on a user, group, or resource that isn't in the\n         expected state, such as trying to delete an active user.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#FolderConfiguration": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.workmail#RetentionAction",
          "traits": {
            "smithy.api#documentation": "<p>The action to take on the folder contents at the end of the folder configuration\n         period.</p>",
            "smithy.api#required": {}
          }
        },
        "Period": {
          "target": "com.amazonaws.workmail#RetentionPeriod",
          "traits": {
            "smithy.api#documentation": "<p>The period of time at which the folder configuration action is applied.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#FolderName",
          "traits": {
            "smithy.api#documentation": "<p>The folder name.</p>",
            "smithy.api#required": {}
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration applied to an organization's folders by its retention\n         policy.</p>"
      }
    },
    "com.amazonaws.workmail#FolderConfigurations": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#FolderConfiguration"
      }
    },
    "com.amazonaws.workmail#FolderName": {
      "type": "string",
      "traits": {
        "smithy.api#enum": [
          {
            "value": "INBOX",
            "name": "INBOX"
          },
          {
            "value": "DELETED_ITEMS",
            "name": "DELETED_ITEMS"
          },
          {
            "value": "SENT_ITEMS",
            "name": "SENT_ITEMS"
          },
          {
            "value": "DRAFTS",
            "name": "DRAFTS"
          },
          {
            "value": "JUNK_EMAIL",
            "name": "JUNK_EMAIL"
          }
        ]
      }
    },
    "com.amazonaws.workmail#GetAccessControlEffect": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#GetAccessControlEffectRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#GetAccessControlEffectResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the effects of an organization's access control rules as they apply to a\n         specified IPv4 address, access protocol action, or user ID. </p>"
      }
    },
    "com.amazonaws.workmail#GetAccessControlEffectRequest": {
      "type": "structure",
      "members": {
        "Action": {
          "target": "com.amazonaws.workmail#AccessControlRuleAction",
          "traits": {
            "smithy.api#documentation": "<p>The access protocol action. Valid values include <code>ActiveSync</code>,\n            <code>AutoDiscover</code>, <code>EWS</code>, <code>IMAP</code>, <code>SMTP</code>,\n            <code>WindowsOutlook</code>, and <code>WebMail</code>.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization.</p>",
            "smithy.api#required": {}
          }
        },
        "IpAddress": {
          "target": "com.amazonaws.workmail#IpAddress",
          "traits": {
            "smithy.api#documentation": "<p>The IPv4 address.</p>",
            "smithy.api#required": {}
          }
        },
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The user ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#GetAccessControlEffectResponse": {
      "type": "structure",
      "members": {
        "Effect": {
          "target": "com.amazonaws.workmail#AccessControlRuleEffect",
          "traits": {
            "smithy.api#documentation": "<p>The rule effect.</p>"
          }
        },
        "MatchedRules": {
          "target": "com.amazonaws.workmail#AccessControlRuleNameList",
          "traits": {
            "smithy.api#documentation": "<p>The rules that match the given parameters, resulting in an effect.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#GetDefaultRetentionPolicy": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#GetDefaultRetentionPolicyRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#GetDefaultRetentionPolicyResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Gets the default retention policy details for the specified organization.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#GetDefaultRetentionPolicyRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#GetDefaultRetentionPolicyResponse": {
      "type": "structure",
      "members": {
        "FolderConfigurations": {
          "target": "com.amazonaws.workmail#FolderConfigurations",
          "traits": {
            "smithy.api#documentation": "<p>The retention policy folder configurations.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#ShortString",
          "traits": {
            "smithy.api#documentation": "<p>The retention policy name.</p>"
          }
        },
        "Description": {
          "target": "com.amazonaws.workmail#String",
          "traits": {
            "smithy.api#documentation": "<p>The retention policy description.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.workmail#ShortString",
          "traits": {
            "smithy.api#documentation": "<p>The retention policy ID.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#GetMailboxDetails": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#GetMailboxDetailsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#GetMailboxDetailsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Requests a user's mailbox details for a specified organization and user.</p>",
        "smithy.api#idempotent": {}
      }
    },
    "com.amazonaws.workmail#GetMailboxDetailsRequest": {
      "type": "structure",
      "members": {
        "UserId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the user whose mailbox details are being requested.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization that contains the user whose mailbox details are\n         being requested.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#GetMailboxDetailsResponse": {
      "type": "structure",
      "members": {
        "MailboxSize": {
          "target": "com.amazonaws.workmail#MailboxSize",
          "traits": {
            "smithy.api#documentation": "<p>The current mailbox size, in MB, for the specified user.</p>"
          }
        },
        "MailboxQuota": {
          "target": "com.amazonaws.workmail#MailboxQuota",
          "traits": {
            "smithy.api#documentation": "<p>The maximum allowed mailbox size, in MB, for the specified user.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#Group": {
      "type": "structure",
      "members": {
        "DisabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date indicating when the group was disabled from Amazon WorkMail use.</p>"
          }
        },
        "Name": {
          "target": "com.amazonaws.workmail#GroupName",
          "traits": {
            "smithy.api#documentation": "<p>The name of the group.</p>"
          }
        },
        "EnabledDate": {
          "target": "com.amazonaws.workmail#Timestamp",
          "traits": {
            "smithy.api#documentation": "<p>The date indicating when the group was enabled for Amazon WorkMail use.</p>"
          }
        },
        "Id": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier of the group.</p>"
          }
        },
        "Email": {
          "target": "com.amazonaws.workmail#EmailAddress",
          "traits": {
            "smithy.api#documentation": "<p>The email of the group.</p>"
          }
        },
        "State": {
          "target": "com.amazonaws.workmail#EntityState",
          "traits": {
            "smithy.api#documentation": "<p>The state of the group, which can be ENABLED, DISABLED, or DELETED.</p>"
          }
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The representation of an Amazon WorkMail group.</p>"
      }
    },
    "com.amazonaws.workmail#GroupName": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 256
        },
        "smithy.api#pattern": "[\\u0020-\\u00FF]+"
      }
    },
    "com.amazonaws.workmail#Groups": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#Group"
      }
    },
    "com.amazonaws.workmail#HostedZoneId": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 32
        },
        "smithy.api#pattern": "[\\S\\s]*"
      }
    },
    "com.amazonaws.workmail#IdempotencyClientToken": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 128
        },
        "smithy.api#pattern": "[\\x21-\\x7e]+"
      }
    },
    "com.amazonaws.workmail#InvalidConfigurationException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The configuration for a resource isn't valid. A resource must either be able to\n         auto-respond to requests or have at least one delegate associated that can do so on its\n         behalf.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#InvalidParameterException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>One or more of the input parameters don't match the service's restrictions.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#InvalidPasswordException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The supplied password doesn't match the minimum security constraints, such as length\n         or use of special characters.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#IpAddress": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 15
        },
        "smithy.api#pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])$"
      }
    },
    "com.amazonaws.workmail#IpRange": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 1,
          "max": 18
        },
        "smithy.api#pattern": "^(([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])\\.){3}([0-9]|[1-9][0-9]|1[0-9]{2}|2[0-4][0-9]|25[0-5])/([0-9]|[12][0-9]|3[0-2])$"
      }
    },
    "com.amazonaws.workmail#IpRangeList": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#IpRange"
      },
      "traits": {
        "smithy.api#length": {
          "min": 0,
          "max": 10
        }
      }
    },
    "com.amazonaws.workmail#Jobs": {
      "type": "list",
      "member": {
        "target": "com.amazonaws.workmail#MailboxExportJob"
      }
    },
    "com.amazonaws.workmail#KmsKeyArn": {
      "type": "string",
      "traits": {
        "smithy.api#length": {
          "min": 20,
          "max": 2048
        },
        "smithy.api#pattern": "arn:aws:kms:[a-z0-9-]*:[a-z0-9-]+:[A-Za-z0-9][A-Za-z0-9:_/+=,@.-]{0,1023}"
      }
    },
    "com.amazonaws.workmail#LimitExceededException": {
      "type": "structure",
      "members": {
        "Message": {
          "target": "com.amazonaws.workmail#String"
        }
      },
      "traits": {
        "smithy.api#documentation": "<p>The request exceeds the limit of the resource.</p>",
        "smithy.api#error": "client"
      }
    },
    "com.amazonaws.workmail#ListAccessControlRules": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListAccessControlRulesRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListAccessControlRulesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the access control rules for the specified organization.</p>"
      }
    },
    "com.amazonaws.workmail#ListAccessControlRulesRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListAccessControlRulesResponse": {
      "type": "structure",
      "members": {
        "Rules": {
          "target": "com.amazonaws.workmail#AccessControlRulesList",
          "traits": {
            "smithy.api#documentation": "<p>The access control rules.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListAliases": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListAliasesRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListAliasesResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Creates a paginated call to list the aliases associated with a given\n         entity.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListAliasesRequest": {
      "type": "structure",
      "members": {
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the entity exists.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "EntityId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the entity for which to list the aliases.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListAliasesResponse": {
      "type": "structure",
      "members": {
        "Aliases": {
          "target": "com.amazonaws.workmail#Aliases",
          "traits": {
            "smithy.api#documentation": "<p>The entity's paginated aliases.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there\n         are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListGroupMembers": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListGroupMembersRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListGroupMembersResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#EntityStateException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns an overview of the members of a group. Users and groups can be members of a\n         group.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListGroupMembersRequest": {
      "type": "structure",
      "members": {
        "GroupId": {
          "target": "com.amazonaws.workmail#WorkMailIdentifier",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the group to which the members (users or groups) are\n         associated.</p>",
            "smithy.api#required": {}
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the group exists.</p>",
            "smithy.api#required": {}
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p> The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListGroupMembersResponse": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        },
        "Members": {
          "target": "com.amazonaws.workmail#Members",
          "traits": {
            "smithy.api#documentation": "<p>The members associated to the group.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListGroups": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListGroupsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListGroupsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#EntityNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Returns summaries of the organization's groups.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListGroupsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The first call does not\n         contain any tokens.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The identifier for the organization under which the groups exist.</p>",
            "smithy.api#required": {}
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListGroupsResponse": {
      "type": "structure",
      "members": {
        "Groups": {
          "target": "com.amazonaws.workmail#Groups",
          "traits": {
            "smithy.api#documentation": "<p>The overview of groups for an organization.</p>"
          }
        },
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results. The value is \"null\" when there\n         are no more results to return.</p>"
          }
        }
      }
    },
    "com.amazonaws.workmail#ListMailboxExportJobs": {
      "type": "operation",
      "input": {
        "target": "com.amazonaws.workmail#ListMailboxExportJobsRequest"
      },
      "output": {
        "target": "com.amazonaws.workmail#ListMailboxExportJobsResponse"
      },
      "errors": [
        {
          "target": "com.amazonaws.workmail#InvalidParameterException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationNotFoundException"
        },
        {
          "target": "com.amazonaws.workmail#OrganizationStateException"
        }
      ],
      "traits": {
        "smithy.api#documentation": "<p>Lists the mailbox export jobs started for the specified organization within the last\n         seven days.</p>",
        "smithy.api#idempotent": {},
        "smithy.api#paginated": {
          "inputToken": "NextToken",
          "outputToken": "NextToken",
          "pageSize": "MaxResults"
        }
      }
    },
    "com.amazonaws.workmail#ListMailboxExportJobsRequest": {
      "type": "structure",
      "members": {
        "NextToken": {
          "target": "com.amazonaws.workmail#NextToken",
          "traits": {
            "smithy.api#documentation": "<p>The token to use to retrieve the next page of results.</p>"
          }
        },
        "MaxResults": {
          "target": "com.amazonaws.workmail#MaxResults",
          "traits": {
            "smithy.api#documentation": "<p>The maximum number of results to return in a single call.</p>"
          }
        },
        "OrganizationId": {
          "target": "com.amazonaws.workmail#OrganizationId",
          "traits": {
            "smithy.api#documentation": "<p>The organization ID.</p>",
            "smithy.api#required": {}
          }
        }
      }
    },
    "com.amazonaws.workmail#ListMailboxExportJobsResponse": {
[...]
