{
    "smithy": "2.0",
    "shapes": {
        "com.amazonaws.workspacesweb#ARN": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 20,
                    "max": 2048
                },
                "smithy.api#pattern": "^arn:[\\w+=\\/,.@-]+:[a-zA-Z0-9\\-]+:[a-zA-Z0-9\\-]*:[a-zA-Z0-9]{1,12}:[a-zA-Z]+(\\/[a-fA-F0-9\\-]{36})+$"
            }
        },
        "com.amazonaws.workspacesweb#AWSErmineControlPlaneService": {
            "type": "service",
            "version": "2020-07-08",
            "operations": [
                {
                    "target": "com.amazonaws.workspacesweb#ExpireSession"
                },
                {
                    "target": "com.amazonaws.workspacesweb#GetSession"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ListSessions"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ListTagsForResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#TagResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#UntagResource"
                }
            ],
            "resources": [
                {
                    "target": "com.amazonaws.workspacesweb#BrowserSettingsResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#DataProtectionSettingsResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#IdentityProviderResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#IpAccessSettingsResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#NetworkSettingsResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#PortalResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#SessionLoggerResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#TrustStoreResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#UserAccessLoggingSettingsResource"
                },
                {
                    "target": "com.amazonaws.workspacesweb#UserSettingsResource"
                }
            ],
            "traits": {
                "aws.api#service": {
                    "sdkId": "WorkSpaces Web",
                    "arnNamespace": "workspaces-web",
                    "cloudFormationName": "WorkSpacesWeb",
                    "cloudTrailEventSource": "workspaces-web.amazonaws.com",
                    "endpointPrefix": "workspaces-web"
                },
                "aws.api#tagEnabled": {},
                "aws.auth#sigv4": {
                    "name": "workspaces-web"
                },
                "aws.protocols#restJson1": {},
                "smithy.api#documentation": "<p>Amazon WorkSpaces Secure Browser is a low cost, fully managed WorkSpace built\n         specifically to facilitate secure, web-based workloads. WorkSpaces Secure Browser makes it\n         easy for customers to safely provide their employees with access to internal websites and\n         SaaS web applications without the administrative burden of appliances or specialized client\n         software. WorkSpaces Secure Browser provides simple policy tools tailored for user\n         interactions, while offloading common tasks like capacity management, scaling, and\n         maintaining browser images.</p>",
                "smithy.api#title": "Amazon WorkSpaces Web",
                "smithy.rules#endpointRuleSet": {
                    "version": "1.0",
                    "parameters": {
                        "Region": {
                            "builtIn": "AWS::Region",
                            "required": false,
                            "documentation": "The AWS region used to dispatch the request.",
                            "type": "String"
                        },
                        "UseDualStack": {
                            "builtIn": "AWS::UseDualStack",
                            "required": true,
                            "default": false,
                            "documentation": "When true, use the dual-stack endpoint. If the configured endpoint does not support dual-stack, dispatching the request MAY return an error.",
                            "type": "Boolean"
                        },
                        "UseFIPS": {
                            "builtIn": "AWS::UseFIPS",
                            "required": true,
                            "default": false,
                            "documentation": "When true, send this request to the FIPS-compliant regional endpoint. If the configured endpoint does not have a FIPS compliant endpoint, dispatching the request will return an error.",
                            "type": "Boolean"
                        },
                        "Endpoint": {
                            "builtIn": "SDK::Endpoint",
                            "required": false,
                            "documentation": "Override the endpoint used to send this request",
                            "type": "String"
                        }
                    },
                    "rules": [
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Endpoint"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseFIPS"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: FIPS and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [
                                        {
                                            "fn": "booleanEquals",
                                            "argv": [
                                                {
                                                    "ref": "UseDualStack"
                                                },
                                                true
                                            ]
                                        }
                                    ],
                                    "error": "Invalid Configuration: Dualstack and custom endpoint are not supported",
                                    "type": "error"
                                },
                                {
                                    "conditions": [],
                                    "endpoint": {
                                        "url": {
                                            "ref": "Endpoint"
                                        },
                                        "properties": {},
                                        "headers": {}
                                    },
                                    "type": "endpoint"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [
                                {
                                    "fn": "isSet",
                                    "argv": [
                                        {
                                            "ref": "Region"
                                        }
                                    ]
                                }
                            ],
                            "rules": [
                                {
                                    "conditions": [
                                        {
                                            "fn": "aws.partition",
                                            "argv": [
                                                {
                                                    "ref": "Region"
                                                }
                                            ],
                                            "assign": "PartitionResult"
                                        }
                                    ],
                                    "rules": [
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                },
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                }
                                                            ]
                                                        },
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://workspaces-web-fips.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS and DualStack are enabled, but this partition does not support one or both",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseFIPS"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsFIPS"
                                                                    ]
                                                                },
                                                                true
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://workspaces-web-fips.{Region}.{PartitionResult#dnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "FIPS is enabled but this partition does not support FIPS",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [
                                                {
                                                    "fn": "booleanEquals",
                                                    "argv": [
                                                        {
                                                            "ref": "UseDualStack"
                                                        },
                                                        true
                                                    ]
                                                }
                                            ],
                                            "rules": [
                                                {
                                                    "conditions": [
                                                        {
                                                            "fn": "booleanEquals",
                                                            "argv": [
                                                                true,
                                                                {
                                                                    "fn": "getAttr",
                                                                    "argv": [
                                                                        {
                                                                            "ref": "PartitionResult"
                                                                        },
                                                                        "supportsDualStack"
                                                                    ]
                                                                }
                                                            ]
                                                        }
                                                    ],
                                                    "rules": [
                                                        {
                                                            "conditions": [],
                                                            "endpoint": {
                                                                "url": "https://workspaces-web.{Region}.{PartitionResult#dualStackDnsSuffix}",
                                                                "properties": {},
                                                                "headers": {}
                                                            },
                                                            "type": "endpoint"
                                                        }
                                                    ],
                                                    "type": "tree"
                                                },
                                                {
                                                    "conditions": [],
                                                    "error": "DualStack is enabled but this partition does not support DualStack",
                                                    "type": "error"
                                                }
                                            ],
                                            "type": "tree"
                                        },
                                        {
                                            "conditions": [],
                                            "endpoint": {
                                                "url": "https://workspaces-web.{Region}.{PartitionResult#dnsSuffix}",
                                                "properties": {},
                                                "headers": {}
                                            },
                                            "type": "endpoint"
                                        }
                                    ],
                                    "type": "tree"
                                }
                            ],
                            "type": "tree"
                        },
                        {
                            "conditions": [],
                            "error": "Invalid Configuration: Missing Region",
                            "type": "error"
                        }
                    ]
                },
                "smithy.rules#endpointTests": {
                    "testCases": [
                        {
                            "documentation": "For region eu-west-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.eu-west-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "eu-west-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-west-2 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.us-west-2.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-west-2",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web-fips.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web-fips.us-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.us-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web-fips.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web-fips.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.cn-north-1.api.amazonwebservices.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region cn-north-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.cn-north-1.amazonaws.com.cn"
                                }
                            },
                            "params": {
                                "Region": "cn-north-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web-fips.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web-fips.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack enabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.us-gov-east-1.api.aws"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true
                            }
                        },
                        {
                            "documentation": "For region us-gov-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.us-gov-east-1.amazonaws.com"
                                }
                            },
                            "params": {
                                "Region": "us-gov-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web-fips.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-iso-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.us-iso-east-1.c2s.ic.gov"
                                }
                            },
                            "params": {
                                "Region": "us-iso-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS enabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web-fips.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For region us-isob-east-1 with FIPS disabled and DualStack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://workspaces-web.us-isob-east-1.sc2s.sgov.gov"
                                }
                            },
                            "params": {
                                "Region": "us-isob-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with region not set and fips disabled and dualstack disabled",
                            "expect": {
                                "endpoint": {
                                    "url": "https://example.com"
                                }
                            },
                            "params": {
                                "UseFIPS": false,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips enabled and dualstack disabled",
                            "expect": {
                                "error": "Invalid Configuration: FIPS and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": true,
                                "UseDualStack": false,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "For custom endpoint with fips disabled and dualstack enabled",
                            "expect": {
                                "error": "Invalid Configuration: Dualstack and custom endpoint are not supported"
                            },
                            "params": {
                                "Region": "us-east-1",
                                "UseFIPS": false,
                                "UseDualStack": true,
                                "Endpoint": "https://example.com"
                            }
                        },
                        {
                            "documentation": "Missing region",
                            "expect": {
                                "error": "Invalid Configuration: Missing Region"
                            }
                        }
                    ],
                    "version": "1.0"
                }
            }
        },
        "com.amazonaws.workspacesweb#AccessDeniedException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.workspacesweb#ExceptionMessage"
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Access is denied.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 403
            }
        },
        "com.amazonaws.workspacesweb#ArnList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.workspacesweb#ARN"
            }
        },
        "com.amazonaws.workspacesweb#AssociateBrowserSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#AssociateBrowserSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#AssociateBrowserSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a browser settings resource with a web portal.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/portals/{portalArn+}/browserSettings",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateBrowserSettingsRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "browserSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
                        "smithy.api#httpQuery": "browserSettingsArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateBrowserSettingsResponse": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "browserSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateDataProtectionSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#AssociateDataProtectionSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#AssociateDataProtectionSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a data protection settings resource with a web portal.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/portals/{portalArn+}/dataProtectionSettings",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateDataProtectionSettingsRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "dataProtectionSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The ARN of the data protection settings.</p>",
                        "smithy.api#httpQuery": "dataProtectionSettingsArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateDataProtectionSettingsResponse": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "dataProtectionSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the data protection settings resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateIpAccessSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#AssociateIpAccessSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#AssociateIpAccessSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates an IP access settings resource with a web portal.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/portals/{portalArn+}/ipAccessSettings",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateIpAccessSettingsRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "ipAccessSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The ARN of the IP access settings.</p>",
                        "smithy.api#httpQuery": "ipAccessSettingsArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateIpAccessSettingsResponse": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "ipAccessSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the IP access settings resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateNetworkSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#AssociateNetworkSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#AssociateNetworkSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a network settings resource with a web portal.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/portals/{portalArn+}/networkSettings",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateNetworkSettingsRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "networkSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The ARN of the network settings.</p>",
                        "smithy.api#httpQuery": "networkSettingsArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateNetworkSettingsResponse": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "networkSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the network settings.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateSessionLogger": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#AssociateSessionLoggerRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#AssociateSessionLoggerResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a session logger with a portal.</p>",
                "smithy.api#examples": [
                    {
                        "title": "Associate Session Logger with Portal",
                        "documentation": "Associates a session logger with a portal",
                        "input": {
                            "portalArn": "arn:aws:workspaces-web:us-west-2:123456789012:portal/12345678-1234-1234-1234-123456789012",
                            "sessionLoggerArn": "arn:aws:workspaces-web:us-west-2:123456789012:sessionLogger/11111111-1111-1111-1111-111111111111"
                        },
                        "output": {
                            "portalArn": "arn:aws:workspaces-web:us-west-2:123456789012:portal/12345678-1234-1234-1234-123456789012",
                            "sessionLoggerArn": "arn:aws:workspaces-web:us-west-2:123456789012:sessionLogger/11111111-1111-1111-1111-111111111111"
                        }
                    }
                ],
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/portals/{portalArn+}/sessionLogger",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateSessionLoggerRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the portal to associate to the session logger ARN.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "sessionLoggerArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The ARN of the session logger to associate to the portal ARN.</p>",
                        "smithy.api#httpQuery": "sessionLoggerArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.workspacesweb#PortalResource"
                    },
                    {
                        "resource": "com.amazonaws.workspacesweb#SessionLoggerResource"
                    }
                ]
            }
        },
        "com.amazonaws.workspacesweb#AssociateSessionLoggerResponse": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "sessionLoggerArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the session logger.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {},
                "smithy.api#references": [
                    {
                        "resource": "com.amazonaws.workspacesweb#PortalResource"
                    },
                    {
                        "resource": "com.amazonaws.workspacesweb#SessionLoggerResource"
                    }
                ]
            }
        },
        "com.amazonaws.workspacesweb#AssociateTrustStore": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#AssociateTrustStoreRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#AssociateTrustStoreResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a trust store with a web portal.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/portals/{portalArn+}/trustStores",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateTrustStoreRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "trustStoreArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The ARN of the trust store.</p>",
                        "smithy.api#httpQuery": "trustStoreArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateTrustStoreResponse": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "trustStoreArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the trust store.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a user access logging settings resource with a web portal.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/portals/{portalArn+}/userAccessLoggingSettings",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "userAccessLoggingSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The ARN of the user access logging settings.</p>",
                        "smithy.api#httpQuery": "userAccessLoggingSettingsArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateUserAccessLoggingSettingsResponse": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "userAccessLoggingSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the user access logging settings.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateUserSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#AssociateUserSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#AssociateUserSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Associates a user settings resource with a web portal.</p>",
                "smithy.api#http": {
                    "method": "PUT",
                    "uri": "/portals/{portalArn+}/userSettings",
                    "code": 200
                },
                "smithy.api#idempotent": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateUserSettingsRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#httpLabel": {},
                        "smithy.api#required": {}
                    }
                },
                "userSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The ARN of the user settings.</p>",
                        "smithy.api#httpQuery": "userSettingsArn",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#AssociateUserSettingsResponse": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "userSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the user settings.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#AuthenticationType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "Standard",
                        "name": "STANDARD"
                    },
                    {
                        "value": "IAM_Identity_Center",
                        "name": "IAM_IDENTITY_CENTER"
                    }
                ]
            }
        },
        "com.amazonaws.workspacesweb#BrowserPolicy": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 2,
                    "max": 131072
                },
                "smithy.api#pattern": "^\\{[\\S\\s]*\\}\\s*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.workspacesweb#BrowserSettings": {
            "type": "structure",
            "members": {
                "browserSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "browserSettingsArn"
                    }
                },
                "associatedPortalArns": {
                    "target": "com.amazonaws.workspacesweb#ArnList",
                    "traits": {
                        "smithy.api#documentation": "<p>A list of web portal ARNs that this browser settings is associated with.</p>"
                    }
                },
                "browserPolicy": {
                    "target": "com.amazonaws.workspacesweb#BrowserPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>A JSON string containing Chrome Enterprise policies that will be applied to all\n         streaming sessions.</p>"
                    }
                },
                "customerManagedKey": {
                    "target": "com.amazonaws.workspacesweb#keyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The customer managed key used to encrypt sensitive information in the browser\n         settings.</p>"
                    }
                },
                "additionalEncryptionContext": {
                    "target": "com.amazonaws.workspacesweb#EncryptionContextMap",
                    "traits": {
                        "smithy.api#documentation": "<p>The additional encryption context of the browser settings.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The browser settings resource that can be associated with a web portal. Once associated\n         with a web portal, browser settings control how the browser will behave once a user starts\n         a streaming session for the web portal. </p>"
            }
        },
        "com.amazonaws.workspacesweb#BrowserSettingsList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.workspacesweb#BrowserSettingsSummary"
            }
        },
        "com.amazonaws.workspacesweb#BrowserSettingsResource": {
            "type": "resource",
            "identifiers": {
                "browserSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN"
                }
            },
            "properties": {
                "tags": {
                    "target": "com.amazonaws.workspacesweb#TagList"
                },
                "customerManagedKey": {
                    "target": "com.amazonaws.workspacesweb#keyArn"
                },
                "additionalEncryptionContext": {
                    "target": "com.amazonaws.workspacesweb#EncryptionContextMap"
                },
                "browserPolicy": {
                    "target": "com.amazonaws.workspacesweb#BrowserPolicy"
                },
                "associatedPortalArns": {
                    "target": "com.amazonaws.workspacesweb#ArnList"
                }
            },
            "create": {
                "target": "com.amazonaws.workspacesweb#CreateBrowserSettings"
            },
            "read": {
                "target": "com.amazonaws.workspacesweb#GetBrowserSettings"
            },
            "update": {
                "target": "com.amazonaws.workspacesweb#UpdateBrowserSettings"
            },
            "delete": {
                "target": "com.amazonaws.workspacesweb#DeleteBrowserSettings"
            },
            "list": {
                "target": "com.amazonaws.workspacesweb#ListBrowserSettings"
            },
            "traits": {
                "aws.api#arn": {
                    "template": "{browserSettingsArn}",
                    "absolute": true
                },
                "aws.api#taggable": {
                    "property": "tags"
                },
                "aws.cloudformation#cfnResource": {
                    "name": "BrowserSettings"
                }
            }
        },
        "com.amazonaws.workspacesweb#BrowserSettingsSummary": {
            "type": "structure",
            "members": {
                "browserSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
                        "smithy.api#required": {},
                        "smithy.api#resourceIdentifier": "browserSettingsArn"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The summary for browser settings.</p>"
            }
        },
        "com.amazonaws.workspacesweb#BrowserType": {
            "type": "string",
            "traits": {
                "smithy.api#enum": [
                    {
                        "value": "Chrome",
                        "name": "CHROME"
                    }
                ]
            }
        },
        "com.amazonaws.workspacesweb#BuiltInPatternId": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 50
                },
                "smithy.api#pattern": "^[_\\-\\d\\w]+$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.workspacesweb#Certificate": {
            "type": "structure",
            "members": {
                "thumbprint": {
                    "target": "com.amazonaws.workspacesweb#CertificateThumbprint",
                    "traits": {
                        "smithy.api#documentation": "<p>A hexadecimal identifier for the certificate.</p>"
                    }
                },
                "subject": {
                    "target": "com.amazonaws.workspacesweb#CertificatePrincipal",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity the certificate belongs to.</p>"
                    }
                },
                "issuer": {
                    "target": "com.amazonaws.workspacesweb#CertificatePrincipal",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity that issued the certificate.</p>"
                    }
                },
                "notValidBefore": {
                    "target": "com.amazonaws.workspacesweb#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The certificate is not valid before this date.</p>"
                    }
                },
                "notValidAfter": {
                    "target": "com.amazonaws.workspacesweb#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The certificate is not valid after this date.</p>"
                    }
                },
                "body": {
                    "target": "com.amazonaws.workspacesweb#CertificateAuthorityBody",
                    "traits": {
                        "smithy.api#documentation": "<p>The body of the certificate.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The certificate.</p>"
            }
        },
        "com.amazonaws.workspacesweb#CertificateAuthorityBody": {
            "type": "blob",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 32768
                }
            }
        },
        "com.amazonaws.workspacesweb#CertificateList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.workspacesweb#CertificateAuthorityBody"
            }
        },
        "com.amazonaws.workspacesweb#CertificatePrincipal": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 256
                },
                "smithy.api#pattern": "^\\S+$"
            }
        },
        "com.amazonaws.workspacesweb#CertificateSummary": {
            "type": "structure",
            "members": {
                "thumbprint": {
                    "target": "com.amazonaws.workspacesweb#CertificateThumbprint",
                    "traits": {
                        "smithy.api#documentation": "<p>A hexadecimal identifier for the certificate.</p>"
                    }
                },
                "subject": {
                    "target": "com.amazonaws.workspacesweb#CertificatePrincipal",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity the certificate belongs to.</p>"
                    }
                },
                "issuer": {
                    "target": "com.amazonaws.workspacesweb#CertificatePrincipal",
                    "traits": {
                        "smithy.api#documentation": "<p>The entity that issued the certificate.</p>"
                    }
                },
                "notValidBefore": {
                    "target": "com.amazonaws.workspacesweb#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The certificate is not valid before this date.</p>"
                    }
                },
                "notValidAfter": {
                    "target": "com.amazonaws.workspacesweb#Timestamp",
                    "traits": {
                        "smithy.api#documentation": "<p>The certificate is not valid after this date.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The summary of the certificate.</p>"
            }
        },
        "com.amazonaws.workspacesweb#CertificateSummaryList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.workspacesweb#CertificateSummary"
            }
        },
        "com.amazonaws.workspacesweb#CertificateThumbprint": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 64,
                    "max": 64
                },
                "smithy.api#pattern": "^[A-Fa-f0-9]{64}$"
            }
        },
        "com.amazonaws.workspacesweb#CertificateThumbprintList": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.workspacesweb#CertificateThumbprint"
            }
        },
        "com.amazonaws.workspacesweb#ClientToken": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 1,
                    "max": 512
                }
            }
        },
        "com.amazonaws.workspacesweb#ConfidenceLevel": {
            "type": "integer",
            "traits": {
                "smithy.api#range": {
                    "min": 1,
                    "max": 3
                }
            }
        },
        "com.amazonaws.workspacesweb#ConflictException": {
            "type": "structure",
            "members": {
                "message": {
                    "target": "com.amazonaws.workspacesweb#ExceptionMessage"
                },
                "resourceId": {
                    "target": "com.amazonaws.workspacesweb#ResourceId",
                    "traits": {
                        "smithy.api#documentation": "<p>Identifier of the resource affected.</p>"
                    }
                },
                "resourceType": {
                    "target": "com.amazonaws.workspacesweb#ResourceType",
                    "traits": {
                        "smithy.api#documentation": "<p>Type of the resource affected.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>There is a conflict.</p>",
                "smithy.api#error": "client",
                "smithy.api#httpError": 409
            }
        },
        "com.amazonaws.workspacesweb#CookieDomain": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 253
                },
                "smithy.api#pattern": "^(\\.?)(?:[a-z0-9](?:[a-z0-9-]{0,61}[a-z0-9])?\\.)*[a-z0-9][a-z0-9-]{0,61}[a-z0-9]$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.workspacesweb#CookieName": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 4096
                },
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.workspacesweb#CookiePath": {
            "type": "string",
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 2000
                },
                "smithy.api#pattern": "^/(\\S)*$",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.workspacesweb#CookieSpecification": {
            "type": "structure",
            "members": {
                "domain": {
                    "target": "com.amazonaws.workspacesweb#CookieDomain",
                    "traits": {
                        "smithy.api#documentation": "<p>The domain of the cookie.</p>",
                        "smithy.api#required": {}
                    }
                },
                "name": {
                    "target": "com.amazonaws.workspacesweb#CookieName",
                    "traits": {
                        "smithy.api#documentation": "<p>The name of the cookie.</p>"
                    }
                },
                "path": {
                    "target": "com.amazonaws.workspacesweb#CookiePath",
                    "traits": {
                        "smithy.api#documentation": "<p>The path of the cookie.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>Specifies a single cookie or set of cookies in an end user's browser.</p>"
            }
        },
        "com.amazonaws.workspacesweb#CookieSpecifications": {
            "type": "list",
            "member": {
                "target": "com.amazonaws.workspacesweb#CookieSpecification"
            },
            "traits": {
                "smithy.api#length": {
                    "min": 0,
                    "max": 10
                }
            }
        },
        "com.amazonaws.workspacesweb#CookieSynchronizationConfiguration": {
            "type": "structure",
            "members": {
                "allowlist": {
                    "target": "com.amazonaws.workspacesweb#CookieSpecifications",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of cookie specifications that are allowed to be synchronized to the remote\n         browser.</p>",
                        "smithy.api#required": {}
                    }
                },
                "blocklist": {
                    "target": "com.amazonaws.workspacesweb#CookieSpecifications",
                    "traits": {
                        "smithy.api#documentation": "<p>The list of cookie specifications that are blocked from being synchronized to the remote\n         browser.</p>"
                    }
                }
            },
            "traits": {
                "smithy.api#documentation": "<p>The configuration that specifies which cookies should be synchronized from the end\n         user's local browser to the remote browser.</p>",
                "smithy.api#sensitive": {}
            }
        },
        "com.amazonaws.workspacesweb#CreateBrowserSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#CreateBrowserSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#CreateBrowserSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a browser settings resource that can be associated with a web portal. Once\n         associated with a web portal, browser settings control how the browser will behave once a\n         user starts a streaming session for the web portal. </p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/browserSettings",
                    "code": 200
                }
            }
        },
        "com.amazonaws.workspacesweb#CreateBrowserSettingsRequest": {
            "type": "structure",
            "members": {
                "tags": {
                    "target": "com.amazonaws.workspacesweb#TagList",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The tags to add to the browser settings resource. A tag is a key-value pair.</p>"
                    }
                },
                "customerManagedKey": {
                    "target": "com.amazonaws.workspacesweb#keyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The custom managed key of the browser settings.</p>"
                    }
                },
                "additionalEncryptionContext": {
                    "target": "com.amazonaws.workspacesweb#EncryptionContextMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional encryption context of the browser settings.</p>"
                    }
                },
                "browserPolicy": {
                    "target": "com.amazonaws.workspacesweb#BrowserPolicy",
                    "traits": {
                        "smithy.api#documentation": "<p>A JSON string containing Chrome Enterprise policies that will be applied to all\n         streaming sessions.</p>",
                        "smithy.api#required": {}
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.workspacesweb#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request.</p>\n         <p>If you do not specify a client token, one is automatically generated by the Amazon Web Services SDK.\n      </p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#CreateBrowserSettingsResponse": {
            "type": "structure",
            "members": {
                "browserSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the browser settings.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#CreateDataProtectionSettings": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#CreateDataProtectionSettingsRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#CreateDataProtectionSettingsResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates a data protection settings resource that can be associated with a web portal.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/dataProtectionSettings",
                    "code": 200
                }
            }
        },
        "com.amazonaws.workspacesweb#CreateDataProtectionSettingsRequest": {
            "type": "structure",
            "members": {
                "displayName": {
                    "target": "com.amazonaws.workspacesweb#DisplayNameSafe",
                    "traits": {
                        "smithy.api#documentation": "<p>The display name of the data protection settings.</p>"
                    }
                },
                "description": {
                    "target": "com.amazonaws.workspacesweb#DescriptionSafe",
                    "traits": {
                        "smithy.api#documentation": "<p>The description of the data protection settings.</p>"
                    }
                },
                "tags": {
                    "target": "com.amazonaws.workspacesweb#TagList",
                    "traits": {
                        "aws.cloudformation#cfnMutability": "full",
                        "smithy.api#documentation": "<p>The tags to add to the data protection settings resource. A tag is a key-value pair.</p>"
                    }
                },
                "customerManagedKey": {
                    "target": "com.amazonaws.workspacesweb#keyArn",
                    "traits": {
                        "smithy.api#documentation": "<p>The custom managed key of the data protection settings.</p>"
                    }
                },
                "additionalEncryptionContext": {
                    "target": "com.amazonaws.workspacesweb#EncryptionContextMap",
                    "traits": {
                        "smithy.api#documentation": "<p>Additional encryption context of the data protection settings.</p>"
                    }
                },
                "inlineRedactionConfiguration": {
                    "target": "com.amazonaws.workspacesweb#InlineRedactionConfiguration",
                    "traits": {
                        "smithy.api#documentation": "<p>The inline redaction configuration of the data protection settings that will be applied to all sessions.</p>"
                    }
                },
                "clientToken": {
                    "target": "com.amazonaws.workspacesweb#ClientToken",
                    "traits": {
                        "smithy.api#documentation": "<p>A unique, case-sensitive identifier that you provide to ensure the idempotency of the\n         request. Idempotency ensures that an API request completes only once. With an idempotent\n         request, if the original request completes successfully, subsequent retries with the same\n         client token returns the result from the original successful request. </p>\n         <p>If you do not specify a client token, one is automatically generated by the Amazon Web Services\n         SDK.</p>",
                        "smithy.api#idempotencyToken": {}
                    }
                }
            },
            "traits": {
                "smithy.api#input": {}
            }
        },
        "com.amazonaws.workspacesweb#CreateDataProtectionSettingsResponse": {
            "type": "structure",
            "members": {
                "dataProtectionSettingsArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the data protection settings resource.</p>",
                        "smithy.api#required": {}
                    }
                }
            },
            "traits": {
                "smithy.api#output": {}
            }
        },
        "com.amazonaws.workspacesweb#CreateIdentityProvider": {
            "type": "operation",
            "input": {
                "target": "com.amazonaws.workspacesweb#CreateIdentityProviderRequest"
            },
            "output": {
                "target": "com.amazonaws.workspacesweb#CreateIdentityProviderResponse"
            },
            "errors": [
                {
                    "target": "com.amazonaws.workspacesweb#AccessDeniedException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ConflictException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#InternalServerException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ResourceNotFoundException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ServiceQuotaExceededException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ThrottlingException"
                },
                {
                    "target": "com.amazonaws.workspacesweb#ValidationException"
                }
            ],
            "traits": {
                "smithy.api#documentation": "<p>Creates an identity provider resource that is then associated with a web portal.</p>",
                "smithy.api#http": {
                    "method": "POST",
                    "uri": "/identityProviders",
                    "code": 200
                }
            }
        },
        "com.amazonaws.workspacesweb#CreateIdentityProviderRequest": {
            "type": "structure",
            "members": {
                "portalArn": {
                    "target": "com.amazonaws.workspacesweb#ARN",
                    "traits": {
                        "smithy.api#documentation": "<p>The ARN of the web portal.</p>",
                        "smithy.api#required": {}
                    }
                },
                "identityProviderName": {
                    "target": "com.amazonaws.workspacesweb#IdentityProviderName",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity provider name.</p>",
                        "smithy.api#required": {}
                    }
                },
                "identityProviderType": {
                    "target": "com.amazonaws.workspacesweb#IdentityProviderType",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity provider type.</p>",
                        "smithy.api#required": {}
                    }
                },
                "identityProviderDetails": {
                    "target": "com.amazonaws.workspacesweb#IdentityProviderDetails",
                    "traits": {
                        "smithy.api#documentation": "<p>The identity provider details. The following list describes the provider detail keys for\n         each identity provider type. </p>\n         <ul>\n            <li>\n               <p>For Google and Login with Amazon:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>client_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>client_secret</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>authorize_scopes</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>For Facebook:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>client_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>client_secret</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>authorize_scopes</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>api_version</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>For Sign in with Apple:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>client_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>team_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>key_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>private_key</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>authorize_scopes</code>\n                     </p>\n                  </li>\n               </ul>\n            </li>\n            <li>\n               <p>For OIDC providers:</p>\n               <ul>\n                  <li>\n                     <p>\n                        <code>client_id</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>client_secret</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>attributes_request_method</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n                        <code>oidc_issuer</code>\n                     </p>\n                  </li>\n                  <li>\n                     <p>\n            
[...]
