+++
title = "AWS SDK for Go V2"
+++

{{< blocks/cover title="Welcome to the AWS SDK for Go V2" height="auto" >}}
<div class="mx-auto">
	<a class="btn btn-lg btn-primary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Learn More <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="https://github.com/aws/aws-sdk-go-v2">
		Download <i class="fab fa-github ml-2 "></i>
	</a>
</div>
{{< /blocks/cover >}}

{{< blocks/section color="white" >}}

{{% blocks/feature title="Modularized" icon="fa-th" %}}
Model service dependencies in your application, and independently control service client updates using Go modules.
{{% /blocks/feature %}}

{{% blocks/feature title="Paginators" icon="fa-file" %}}
Easily iterate over API results that span multiple pages.
{{% /blocks/feature %}}

{{% blocks/feature title="Waiters" icon="fa-search" %}}
Validate AWS resources states before performing additional actions.
{{% /blocks/feature %}}

{{% blocks/feature title="Utilities" icon="fa-cog" %}}
Amazon S3 Transfer Manager provides seamless concurrent multi-part file uploads. Amazon DynamoDB AttributeValue and
Expression utilities allow easy integration of your application Go types.
{{% /blocks/feature %}}

{{% blocks/feature title="Extensible" icon="fa-terminal" %}}
Middleware allows you to extend or customize the transport request pipeline to fit your applications requirements.
{{% /blocks/feature %}}

{{< /blocks/section >}}
